#header {
	text-align: left;
	margin-top: 3em;
	display: flex;
	align-items: center; /* align vertical */
	margin-bottom: 2em;
}

#header-line {
	margin-top: 0;
}

#title {
	font-weight: bold;
}

.link {
    color: Black;
    text-decoration: none;
}

.link:hover {
	color: #2c3e50;
}

.document-preview {
	border-width: thin;
	border-style: solid;
	border-color: Black;
	border-radius: 5px;
	padding: 6px 6px 6px 6px;
}

.document-preview-cont {
	padding-top: 20px;
}

.rating {
	background-color: #d14233;
	height: 10px;
	width: 100px;
	border-radius: 5px;
}

.rating-cont {
	display: inline-block;
	margin-right: 20px;
}

.rating-text {
	display: inline-block;
}

.tag {
	background-color: #ecf0f1;
	border-radius: 5px;
	/*border-color: #2c3e50;
    border-style: solid;
    border-width: thin;*/
	display: inline-block;
	padding: 0 3px 0 3px;
}

.tag a {
	color: #22313F;
}

.tag-cont {
	padding: 0px 5px 0px 5px;
	display: inline-block;
}

.tag-cont-cont {
	display: inline-block;
}

.document p,
.document ul,
.document blockquote,
.document li,
.document ol {
    margin-bottom: 0;
    margin-top: 0;
}

.detail-view {
	list-style-type: none;
}

.detail-view li {
	margin-top: 2rem;
}

footer {
	text-align: center;
}

#tag-selector {
	margin-left: 50px;
}

.tag-selector-row {
	margin-bottom: 5px;
}

.search-box {
	height: 50px;
	font-size: 30px;
	padding-left: 10px;
}